body{
    background-color: green;
    overflow: hidden;
}
#playground{
    height: 35vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
img{
    border-radius: 10px;
}

p{
    font-size: 40px;
    margin: 10px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    background-color: white;
    width: 300px;
    text-align: center;
    font-family: 'Bangers', cursive;
}
#choose{
    width: 100%;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 700px){
    #choose{
        display: block;
        margin: auto;
    }
    #buzz1, #buzz2, #card{
        display: flex;
        justify-content: center;
    }
    #maincard{
        height: 250px;
    }
}
@media (max-width: 410px) {
    #drink{
        font-size: 30px;
    }
}



p:hover{
    cursor: pointer;
}
h1{
    text-align: center;
    font-size: 40px;
    font-family: 'Bangers', cursive;
    color: black;
    border: 3px solid black;
    background-color: white;
    margin-top: 1px;
    padding: 8px;
}
#cards{
    display: flex;
    justify-content: center;
    gap: 10%;
}

#card_1, #card_2, #card_3{
    height: 150px;
    width: 100px;
    border: 2px solid black;
} 

#maincard{
    border: 2px solid black;
    background-color: black;
    height: 250px;
}
#firstrow img, #secondrow img, #thirdrow img, #fourthrow img{
    width: 100px;
    height: 150px;
}
#firstrow, #secondrow, #thirdrow, #fourthrow{
    display: flex;
    justify-content: center;
    margin: 10px;
    gap: 1%;
}

img:hover{
    cursor: pointer;
}

#btn_final{
    display: flex;
    justify-content: center;
}

#btn_final button{
    font-size: 30px;
    padding: 10px;
    border-radius: 10px;
    border: 3px solid black;
    margin: 50px;
    visibility: hidden;
}

@media (max-width: 420px) {
    #firstrow img, #secondrow img, #thirdrow img, #fourthrow img{
        width: 70px;
        height: 120px;
    }
    #firstrow, #secondrow, #thirdrow, #fourthrow{
        gap: 2%;
    }
    #bus img{
        width: 50px;
        height:100px;
    }
}

@media (max-width: 420px) and (max-height: 900px) {
    #firstrow img, #secondrow img, #thirdrow img, #fourthrow img{
        width: 70px;
        height: 120px;
    }
    #firstrow, #secondrow, #thirdrow, #fourthrow{
        gap: 2%;
    }
    #schluck_1, #schluck_2, #schluck_3, #schluck_4{
        text-align: center;
        font-size: 15px;
        color: white;
        border: 2px solid black;
        margin: 2px;
        font-family: 'Bangers', cursive;
        padding: 2px;
    }
}

#schluck_1, #schluck_2, #schluck_3, #schluck_4{
    text-align: center;
    font-size: 20px;
    color: white;
    border: 2px solid black;
    margin: 2px;
    font-family: 'Bangers', cursive;
    padding: 4px;
    -webkit-text-stroke: 1px black;
}
@media (max-width: 420px) and (max-height: 900px) {
    #bus_row7 img, #bus_row6 img, #bus_row5 img, #bus_row4 img, #bus_row3 img, #bus_row2 img, #bus_row1 img{
        width: 50px;
        height: 80px;
    }
    #bus_row7, #bus_row6, #bus_row5, #bus_row4, #bus_row3, #bus_row2, #bus_row1{
        gap: 2%;
        display: flex;
        justify-content: center;
        margin-top: 3px;
    }
}

