body{
    background-color: green;
    overflow: hidden;
}
#playground{
    height: 35vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
img{
    border-radius: 10px;
}

p{
    font-size: 40px;
    margin: 10px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    background-color: white;
    width: 300px;
    text-align: center;
    font-family: 'Bangers', cursive;
}
#choose{
    width: 100%;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 700px){
    #choose{
        display: block;
        margin: auto;
    }
    #buzz1, #buzz2, #card{
        display: flex;
        justify-content: center;
    }
    #maincard{
        height: 250px;
    }
}
@media (max-width: 410px) {
    #drink{
        font-size: 30px;
    }
}



p:hover{
    cursor: pointer;
}
h1{
    text-align: center;
    font-size: 40px;
    font-family: 'Bangers', cursive;
    color: black;
    border: 3px solid black;
    background-color: white;
    margin-top: 1px;
    padding: 8px;
}
#cards{
    display: flex;
    justify-content: center;
    gap: 10%;
}

#card_1, #card_2, #card_3{
    height: 150px;
    width: 100px;
    border: 2px solid black;
} 

#maincard{
    border: 2px solid black;
    background-color: black;
    height: 250px;
}